{{template "head" .}}

<section class="hero is-light">
		<div class="hero-body" style="padding-top:1%; padding-bottom: 2%">
			<div class="container">
				<div class="columns">
					<div class="column">
						<h1 class="title">
							<img src="/static/images/audisto-logo.svg" alt="Audisto Logo" width="152">
						</h1>
						<h2 class="subtitle">
							Data Downloader
						</h2>
					</div>
					<div class="column">
						<a class="button is-warning is-pulled-right">
							<span class="icon">
								<i class="fas fa-user"></i>
							</span>
							<span>Login</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<progress class="progress is-primary" value="15" max="100">15%</progress>
		</div>
	</section>

	<section>
		<div class="container">
				<div class="field">
						<div class="control">
							<input class="input is-primary" type="text" placeholder="Primary input">
						</div>
					</div>
	</section>

<section>
	<div class="container">


		<div class="dropdown">
			<div class="dropdown-trigger">
				<button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
					<span>Click me</span>
					<span class="icon is-small">
						<i class="fas fa-angle-down" aria-hidden="true"></i>
					</span>
				</button>
			</div>
			<div class="dropdown-menu" id="dropdown-menu3" role="menu">
				<div class="dropdown-content">
					<a href="#" class="dropdown-item">
						Overview
					</a>
					<a href="#" class="dropdown-item">
						Modifiers
					</a>
					<a href="#" class="dropdown-item">
						Grid
					</a>
					<a href="#" class="dropdown-item">
						Form
					</a>
					<a href="#" class="dropdown-item">
						Elements
					</a>
					<a href="#" class="dropdown-item">
						Components
					</a>
					<a href="#" class="dropdown-item">
						Layout
					</a>
					<hr class="dropdown-divider">
					<a href="#" class="dropdown-item">
						More
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="field">
			<div class="file is-info">
				<label class="file-label">
					<input class="file-input" type="file" name="resume">
					<span class="file-cta">
						<span class="file-icon">
							<i class="fas fa-upload"></i>
						</span>
						<span class="file-label">
							Choose target file
						</span>
					</span>
					<span class="file-name">
						/path/to/file.tsv
					</span>
				</label>
			</div>
		</div>
		<label class="checkbox">
				<input type="checkbox">
				Target is self
			</label>
	</div>
</section>

{{template "footer" .}}